.adding {
    margin-top: 98px;
}
button.add {
    /* margin-left: 443px; */
    margin-top: 65px;
    /* float: right; */
    margin-left: 444px;
    border-radius: 4px;
    width: 77px;
    height: 30px;
}
.last{
    //margin-left: 33px;
}
.label{
    margin-left: 33px;
}
.input {
    margin-top: 20px;
}
input.last {
    margin-right: 27px;
}
button.remove {
    border-radius: 4px;
    width: 77px;
    height: 30px;
}
button.submi {
    width: 79px;
    height: 30px;
    border-radius: 7px;
}
.submit {
    margin-left: 178px;
}
input#outer {
    width: 175px;
    height: 20px;
    border-radius: 8px;
}
input#outerdown {
    width: 175px;
    height: 20px;
    border-radius: 8px;
}
#innerup{
    width: 175px;
    height: 20px;
    border-radius: 8px;
}
#innertext{
    width: 175px;
    height: 20px;
    border-radius: 8px; 
}
label {
    font-size: 16px;
    font-family: cursive;
}