<body class="body">
<div class="mainregister">
    <form [formGroup]="registrationForm" (ngSubmit)="cnfm()">
         <h2 class="reg">Registration</h2>
                <div class="img" >
                    <img class="profile-thumb bannerImg" src="{{profilePic}}" class="imgg" (click)="pic()">
            
                </div>
                <div class="upload">
                        <div class="upload-button"><img src="https://tinyurl.com/mrphx9r" class="penimg"></div>
                </div>
        
            <div class="mainregister1">
               <mat-form-field>
                          <div class="labeldiv">
                            <label>Full Name :</label>
                            <input matInput id="name" class="float" formControlName="fullname" autocomplete="off" required>
                         </div>
              </mat-form-field><br>          
                         <div class="error" *ngIf=" submitted && f['fullname']['errors']">
                              <div *ngIf="f['fullname']['errors']" class="red">
                                 fullname is requried
                             </div>
                        </div>
                <br>
                                   
                       <mat-form-field>                              

                                <label>last Name :</label>
                                                <input matInput id="last" class="float" formControlName="lastname" autocomplete="off" required>
                       </mat-form-field><br>                   
                  <div class="error" *ngIf="  submitted && f['lastname']['errors']">
                      <div *ngIf="f['lastname']['errors']" class="red">
                            lastname is requried
                      </div>
                   </div>
                       <br>


                       <mat-form-field mat-form-field>       
                                     <label>Email  :</label>
                                    <input matInput id="email" class="float"  formControlName="email" autocomplete="off" required>
                         </mat-form-field>
                                <br>
                                <div class="error" *ngIf="  submitted && f['email']['errors']" >
                                    <div *ngIf="f['email']['errors']" class="red">
                                    email is requried
                                </div>
                                <div *ngIf="f['email']['errors']['email']" class="red">Email must be a valid email address</div>
                                </div>
                                <br>

                         <mat-form-field>     
                                    <label>Passowrd :</label>
                                    <input matInput type="password" id="Passowrd" class="float"  formControlName="Passowrd" autocomplete="off" required>
                          </mat-form-field><br>          
                                    <div class="error" *ngIf="  submitted && f['Passowrd']['errors']">
                                        <div *ngIf="f['Passowrd']['errors']" class="red">
                                            Passowrd is requried
                                        </div>
                                        <div *ngIf="f['Passowrd']['errors']['minlength']" class="red">Password must be at least 6 characters</div>
                                    </div>
                         <br>



                         <mat-form-field mat-form-field>  
                                   <label>Conform Passowrd :</label>
                                    <input matInput type="password" id="cnfm" class="float" formControlName="ConformPassowrd" autocomplete="off" required>
                         </mat-form-field><br>          
                                    <div class="error" *ngIf="  submitted && f['ConformPassowrd']['errors']">
                                        <div *ngIf="f['ConformPassowrd']['errors']" class="red">
                                            ConformPassowrd is requried
                                        </div>
                                        <div *ngIf="f['ConformPassowrd']['errors']['mustMatch']" class="red">Passwords must match</div>
                                    </div>
                        <br>

                         <mat-form-field> 
                                    <label>Date Of Birth :</label>
                                    <input matInput id="date" class="float"  type="date" formControlName="DateOfBirth" autocomplete="off" required>
                         </mat-form-field><br>          
                                    <div class="error" *ngIf="  submitted && f['DateOfBirth']['errors']">
                                        <div *ngIf="f['DateOfBirth']['errors']" class="red">
                                            DateOfBirth is requried
                                        </div>
                                        </div>
                       <br><br>
                        
                        <label>Gender :</label>
                                    <input type="radio"  formControlName="gender" class="gender" id="male" name="gender" value="Male" required>Male
                                    <input type="radio"  formControlName="gender" class="gender"id="fmale" name="gender" value="feMale" required>Female
                                    <input type="radio"  formControlName="gender" class="gender" id="others"   name="gender"value="others" required>Others<br><br>

                         <mat-form-field> 
                            <label>Phone number :</label>
                            <input matInput id="phn" class="float" type="number" formControlName="Phonenumber"autocomplete="off" required>
                        </mat-form-field><br>    
                        <div class="error" *ngIf="  submitted && f['Phonenumber']['errors']">
                                    <div *ngIf="f['Phonenumber']['errors']" class="red">
                                        Phonenumber is requried
                                    </div>
                                </div> 
                        <br>   
                                <div class="check">
                                        <input type="checkbox" required  class="red" formControlName="checked"> I accept terms and conditions
                                        <div class="error" *ngIf="  submitted && f['checked']['errors']">
                                            <div *ngIf="f['checked']['errors']" class="red">
                                                checked is requried
                                            </div>
                                        </div>  
                                </div><br><br>
                                    <div class="rege">
                                </div><br>
                                <div class="alreadyregistration">
                                    <p class="alredy"><a routerLink="/login">AlreadyRegister?</a> </p>
                                </div>
            </div>

                    <div class="regbtn">
                        <!-- <button type="button" (click)="submit()"> Register</button> -->
                    <button   color="primary" class="btn btn-primary" type="submit" [disabled]="registrationForm.invalid" >Register</button>
              
                                <!-- <div class="text-center">
                                
                                    <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
                                </div> -->
                     </div>
       </form> 
</div>
</body>