.mainregister {
    margin: 25px 157px 0px -370px;
    background-color: #0000003d;
    border-radius: 78px;
}

.mainregister1 {
    margin: 73px 72px 65px 206px;
}
label {
    float: left;
    font-style: bold;
    font-size: 15px;
    font-weight: 800;
    margin-top: -39px;
    display: inline-block; 
}

input.float {
    float: right;
}
// button {
//     width: 180px;
//     height: 41px;
//     border-radius: 11px;
// }
// .rege{
//     text-align: center;
// }
// .check {
//     text-align: center;
//     margin-top: 6px;
//     margin-bottom: -19px;
// }
// p.alredy {
//     text-align: center;
//     margin-bottom: 0px;
//     margin-top: 5px;
// }

//     .upload-button {
//         border-radius: 112px;
//         margin: -48px 0px 0px 113px;
//         /* width: 44px; */
//     }
  img.penimg {
    width: 23px;
    background-color: transparent;
    margin-top: -106px;
    margin-left: 390px;
    border-radius: 205px;
    }
.imgg {
    width: 152px;
    background-color: white;
    /* border-radius: 203px; */
    border-radius: 149px 150px 150px 153px;
    height: 148px;
    margin-left: 286px;
    margin-top: 23px;
}
// // input.file-upload.fill {
// //     display: none !important;
// // }
// .regbtn {
//     margin-left: 120px;
//     margin-top: 30px;
// }
// .upload-button{
//     margin-top: -38px;
//     margin-left: 112px;
// }
// body {
//     background-color: #d7cfcf;
// }

.red {
    color: red;
    // color: red;
    // margin-left: -2px;
    // margin-top: -79px;
    font-family: cursive;
}
.btn{
    margin: 10px 275px;
    margin: 10px 208px;
    width: 336px;
}
.reg{
    margin-left: 282px;
    font-size: 30px;
}
.gender{
    margin: 4px 13px 21px 4px;
}
.mat-form-field {
     display:block; 
    position: relative;
    text-align: left;
    max-height: 50px !important;
}