button.submi {
    width: 79px;
    height: 30px;
    border-radius: 7px;
}
input#outer {
    width: 175px;
    height: 20px;
    border-radius: 8px;
}
input#outer1 {
    width: 175px;
    height: 20px;
    border-radius: 8px;
}
button {
    width: 79px;
    height: 30px;
    border-radius: 7px;
    margin-top: 20px;
}
label {
    margin-left: 26px;
}
.invalid{
    color: red;
}