.mainlogin{
    margin-top: 70px;
    background-color: #d9d9cd;
    border-radius: 58px;
    height: 350px;
    margin: 91px -10px 60px 127px;
    text-align: center;
}
.loginbutton {
    width: 73px;
    height: 31px;
    border-radius: 13px;
}
.loginbtn {
    margin-top: 33px;
}
p.loginpara {
    font-size: 35px;
}
.right1{
    // float: right;
    margin-left: 0px;
}
.right{
    
}
label {
    font-size: 17px;
    font-weight: 800;
}
button.loginregister {
    width: 110px;
    height: 29px;
    border-radius: 9px;
    margin-left: 58px;
}
a {
    text-decoration: none;
}
.infomation {
    float: right;
    margin-right: 298px;
    margin-top: 22px;
}
.forget {
    margin-bottom: 17px;
}
.sub{
    margin-left: 115px;
    margin-top: 16px;
    border-radius: 12px;
}
.input{
    outline: none;
    border-radius: 6px;
    margin-top: -38px;

}
.own-body {
    border: 2px solid black;
    margin-top: 20px;
    text-align: center;
    background-color: #0000001c;
    width: 201px;
    height: 249px;
    box-shadow: 13px 1px #2a2a2a;
    border-right: hidden;
    border-radius: 18px;
}
.btnclick{
    width: 148px;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: -2px;
    margin-top: 24px;
}
.own {
    float: right;
}
.position {
    position: relative;
    left: 461px;
    top: -294px;
}
.btncls{
    border-radius: 12px;
}

.error {
    margin-top: -19px;
    margin-left: -36px;
    color: red;
}