<div class="maincontact">
    <div class="heading">
        <span class="get">Get in Touch with us</span>
    </div>
    <form [formGroup]="contactForm" (ngSubmit)="contactSubmit()">
        <div class="namehead">
        <mat-form-field>
          <label>your name</label><input type="name" formControlName="fname" class="name"><br>
        </mat-form-field>
        <div class="erro" *ngIf=" submitted && f['fname']['errors']">
            <div *ngIf="f['fname']['errors']" class="rd">
               fullname is requried
           </div>
      </div>
        <mat-form-field>
           <label>Email</label><input type="email"  class="email"><br>
        </mat-form-field>
       <mat-form-field>
           <label>FeedBack</label><textarea class="feed"  required></textarea><br><br>
       </mat-form-field>

       <mat-form-field>
          <button (click)="clicking()" class="btns" mat-raised-button color="primary">Submit</button>
       </mat-form-field>
     </div>
    
      <div class="backhome">
        <mat-form-field>
             <button class="back"><a routerLink="/home" class="back" mat-raised-button color="primary">Back To Home</a></button>
        </mat-form-field>
         
    </div>
</form>
 
</div>
