.maincontact {
    margin-top: 85px;
    width: 191px;
    margin-left: -356px;
}
.heading {
    /* font-size: 22px; */
    margin-bottom: 15px;
    width: 257px;
}
span {
    font-size: 22px;
}
button.back {
    margin: -30px 0px 0px 1072px;
    // width: 176px;
    // height: 52px;
    // border-radius: 21px;
    padding: 0px;
    border: #10d610;
}
a.back {
    text-decoration: none;
}
.name {
    width: 450px;
    height: 30px;
    border-radius: 6px;
    /* margin-top: 15px; */
    margin-top: 8px;
}
.email {
    width: 450px;
    height: 30px;
    border-radius: 6px;
    /* margin-top: 15px; */
    margin-top: 8px;
}
.feed {
    width: 451px;
    height: 151px;
    border-radius: 6px;
    /* margin-top: 15px; */
    margin-top: 8px;
}
.btns{
    width: 90px;
    height: 32px;
    border-radius: 11px;
}
.get{
    font-size: 31px;
    font-style: italic;
    font-family: fantasy;
  
}