table {
    width: 100%;
    background-color: bisque;
  }
.heading{
    font-family: fantasy;
    margin-top: 20px;
}
a.table {
  margin-left: 170px;
  text-decoration: none;
  /* margin-top: -38px; */
  font-family: cursive;
  color: green;
  font-size: 20px;
}