a.apply {
    font-size: 21px;
    text-decoration: none;
}
a.apply:hover{
    background-color: aquamarine;
}
a.table {
    margin-left: 170px;
    text-decoration: none;
    /* margin-top: -38px; */
    font-family: cursive;
    color: green;
    font-size: 20px;
  }