.logins {
    margin:94px 0px 0px 199px;
}
a.homelogin {
    font-size: 27px;
    /* margin-top: -25px; */
    /* margin-bottom: 34px; */
    margin-left: 19px;
}
a.homeregister {
    font-size: 35px;
}
.mainlog {
    margin-top: 16px;
    /* text-decoration: none; */
}
.helping {
    margin: 19px 1px 1px 193px;
}
a.help {
    margin-left: -37px;
    font-size: 20px;
}
a.contact {
    margin-left: 66px;
    font-size: 20px;
    text-decoration: none;
}
.sub{
    margin-left: 91px;
    margin-top: 29px;
}
.input{
    
    margin-top: 33px;

}
.own-body {
    border: 2px solid black;
    margin-top: 20px;
    text-align: center;
    background-color: #0000001c;
}
.btnclick{
    width: 90px;
    height: 39px;
    border-radius: 12px;
}