<section class="section">
  <h2>JNTU Courses</h2>
  <form action="">
    <table>
      <tr>
        <td>
          <button type="submit" class="btn btn-default" (click)="addCourse()">Add Course</button>
        </td>
        <td>
          <select [(ngModel)]="newItem.name" name="newItemName">
            <option *ngFor="let o of option" [ngValue]="o">{{o.name}}</option>
          </select>
        </td>
        <td>students</td>
        <td>
          <input class="form-control" type="text" id="newItemQuantity"  required [(ngModel)]="newItem.numbers" name="newItemQuantity">
          
        </td>
        <td>City</td>
        <td>
          <input type="form-control" type="text" id="city" [(ngModel)]="newItem.city" name="newItemCity">
        </td>
      </tr>
    </table>
  </form>
  <table>
    <thead>
      <tr>
        <th>Course</th>
        <th>students</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of course; let i = index">
        <td><span  class="form-control">{{item.name.name}}</span></td> 
        <td><span >{{item.numbers}}</span></td>
        <td><span>{{item.city}}</span></td>
        <td></td>
        <td><input type="button" value="delete" (click)="removeCourse(i)"></td>
      </tr>
     
    </tbody>
  </table>
</section>